.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('/images/01.PNG'); // Primeira imagem
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    position: relative;
    height: 150px;
    margin-right: 0.5rem;
    top: -60px;
    left: -369px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeInLogo 1s forwards ease-in-out;
}

.textSection {
    text-align: left;
    width: 100%;
    margin-top: 2rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5rem;
    position: relative;
    left: -415px;
    top: -20px;
    opacity: 0;
    animation: slideIn 1.5s forwards ease-in-out;
}

.mainText {
    font-size: 8rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5rem;
    position: relative;
    left: -424px;
    top: -43px;
    opacity: 0;
    animation: slideIn 2s forwards ease-in-out;
}

.comercialText {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    opacity: 0;
    animation: fadeIn 2.5s forwards ease-in-out;
}

/* Keyframes */
@keyframes fadeInLogo {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.secondaryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* mesma altura que a primeira seção */
    width: 100vw;
    margin: 0;
    background-image: url('/images/02.png'); // Segundo background
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.tertiaryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* mesma altura que as outras seções */
    width: 100vw;
    margin: 0;
    background-image: url('/images/03.png'); // Terceiro background
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.quaternaryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura igual à de outras seções */
    width: 100vw;  /* Largura igual à de outras seções */
    margin: 0;
    padding: 0; /* Certifique-se de que não há padding adicional */
    background-image: url('/images/04.png'); /* Quarto background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box; /* Para garantir que margin e padding não afetem o layout */
}


.quinaryPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* mesma altura que as outras seções */
    width: 100vw;
    margin: 0;
    background-image: url('/images/05.png'); // Quinto background
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
